body{
    background-color: #0A22F4;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
}
h2{
    color: #FFFFFF;
 top: 2430px;
left: 240px;
width: 162px;
height: 38px;
margin-left: 40px;
}
.map{
    width: fit-content;
    border-radius: 15px;
    margin-left: 30px;
}
.text{
    color: #FFFFFF;
    top: 2498px;
left: 240px;
width: 463px;
height: 99px;
margin-left: 40px;
}
.container1{
    display: flex;
    margin: 0 auto;
    margin-left: 30px;
}
.box{
    margin: 10px;
}
.img{
    width: 25px;
}
.container{
    flex-direction: column;
    margin-top: 150px;
    margin-left: 30px;

}
.num{
    color: #FFFFFF;
}
.mail{
    color: #FFFFFF;
    font-family:Arial, Helvetica, sans-serif;
}
.submit{
    color: #FFFFFF;
    border-radius: 28px;
}
.form-row{
    top: 2528px;
left: 1216px;
width: 463px;
height: 60px;
}
.button{
    color: black;
}
.frame{
    background: #FFFFFF;
    width: 30px;
    height: 30px;
    border-radius: 30px;
}